<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <a href="/">
      {% block conditional %}
        {{ 'TRUE' if conditional else 'FALSE' }}
      {% endblock %}
    </a>
  </nav>
</header>
