<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <title>Construindo com NJk</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
      
      :root {
        --bg-block-01: #EEEEEE;
        --bg-block-02: #acacac;
        --color-10: #111111;
      }
      * {
        border: none;
        margin: 0;
        padding: 0;
      }
      body {
        font-family: "Roboto", serif;
        margin: 0 auto;
        max-width: 724px;
      }
      header {
        background: var(--bg-block-01);
        margin-top: 50px;
        padding: 16px;
      }
      a {
        color: var(--color-10);
        text-decoration: none;
      }
      main {
        background: var(--bg-block-02);
      }
      
      main div {
        padding: 36px 16px;
      }
      footer {
        margin-top: 20px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">NJK</a>
      </nav>
    </header>
    <main>
      <div>
        <h1>Node com NJK</h1>
        <p>Aprendendo a trabalhar com arquivos NJK</p>
      </div>
    </main>
    <footer>
      <p>Feito com 💚 by Martins</p>
    </footer>
  </body>
</html>
