{% extends '../layout.njk' %}

{% block content %}
  <main>
    <div>
      <h1>Node com NJK</h1>
      <p>Aprendendo a trabalhar com arquivos NJK.</p>
    </div>
  </main>
  <div>      
    <ul>
      <h2>{{ summary.title }}</h2>
        {% for item in summary.items %}
          <li>{{ item }}</li>
        {% endfor %}
    </ul>
  </div>  
{% endblock %}
